.label-container .ajt-play-icon {
    display: inline-block;
    margin: 0 3px 0 0;
    padding: 0;
    width: 14px;
    height: 14px;
    background-image: url("../icons/play.png");
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.label-container .ajt-play-icon:hover {
    opacity: 0.8;
}

.nightMode .label-container .ajt-play-icon {
    filter: invert(100%);
}

.label-container .ajt-play-icon[hidden] {
    display: none;
}
